html
    head 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    body 
        .section
            p Access denied.
            p Did you enter the wrong password?