doctype html
head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    title WireGuard VPN
body 
    .section 
        .container
            h1.title WireGuard VPN
            h2.subtitle Invite only
            div.content
                p This invite-only, private WireGuard VPN is quick, stealthy, and fast.

            a.button.button.is-primary(href="/form") Use VPN

            hr

        footer.footer
            .container
                .level
                    .level-left
                        a.title.is-4(href="/") wg-auto-web
                    .level-right
                        a.level-item(href="https://github.com/randomblock1/wg-auto-web") Source code