html
    head 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    body 
        .section 
            .containers 
                .container 
                    form(method='POST' action='/submit')

                        .field 
                            label.label Name 
                            .control 
                                input.input(name='username' type='text' placeholder='username')
                            p.help So I can keep track of who's using this.

                        .field 
                            label.label Email 
                            .control 
                                input.input(name='email' type='email' placeholder='email')
                            p.help You will get the VPN emailed to you, personal email only!

                        .field 
                            label.label Secret Passphrase 
                            .control 
                                input.input(name='password' type='text' placeholder='password')
                            p.help Only those with the password can use this VPN.

                        .field 
                            label.label Built-in Adblock
                            .control 
                                input.checkbox(name='adblock' type='checkbox' checked='checked')
                            p.help Want to use the built-in adblock?

                        .control 
                            button.button.is-primary Submit

                        hr

                        footer.footer
                            .container
                                .level
                                    .level-left
                                        .level-item
                                            a.title.is-4(href="/") AutoVPN
                                    .level-right
                                        a.level-item(href="https://github.com/randomblock1/autovpn") Source