html
    head 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    body 
        .section
            p Your submission has been accepted.
            p Input: 
            p #{form}
            p WireGuard config: 
            code #{wgconfig}