html
    head 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    body 
        .section
            p Your submission has been accepted.
            p Input: 
            code #{form}
            p WireGuard config: 
            a(download=savename href='data:text/plain;base64,' + filedata) Click here to download your config.
            p Make sure to save it in a safe place; this will only be shown once!